@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
 body{
    font-family: "Bricolage Grotesque", sans-serif;
 }
 .nav-link {
    color: black;
 }
 .image1{
    margin-left: -2rem;
 }
 .image2{
    margin-right: -2rem;
 }
 .image3{
    max-width: 550px;
    max-height: 564px;
 }
 .text3{
    max-width: 476px;
    max-height: 470px;
 }
 .sec-2 h1{
    font-size: 52px;
 }
 .sec-2 p{
    font-size:22px;
 }
 .sec-2 img{
    position: relative;
    left: 15%;
    top: 10%;
 }
 .sec-2 {
   margin-top: 10%;
 }
 .sec-3{
    margin-top: 10%;
 }
 .card-1{
    width: 600px;
    height: 360px;

 }
 .card-3{
    /* width: 1240px;
    height: 455px; */
    margin-top: 10%;

 }